@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

textarea {
    font-size: 1em;
    background-color: white
}

#footer {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10vh;
}

#input-box {
    text-align: left;
    width: 75%;
}

#container {
    text-align: center;
}

.answer {
    word-wrap: break-word;
    display: inline-block;
    text-align: left;
    width: 75%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    resize: none;
}

.green {
    color: #00cc00;
    font-weight: bold;
}

.red {
    color: red;
}

#pre-footer {
    overflow: auto;
    overflow-x: scroll;
    height: calc(100vh - 10px - 70px);
    /* position: relative;  */
    /* height: 100vh; */
    
    margin-top: 70px;
}

#longest {
    margin-bottom: 30px;
}

#pref-cont {
    /* margin-top: calc((100vh - 50px - 70px) / 3); */
    /* margin: 0px; */
    /* position: absolute; */
}

body {
    overflow: hidden;
    /* background-color: rgba(129, 0, 129, 0.3);
    background-color: var(--grey);
    background-color: rgba(164, 164, 165, 0.5); */
}

textarea, .answer {
    border: solid 1px black;
    /* background-color: rgb(128, 128, 128);
    color: white; */
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
    /* color: var(--purple); */
}

h2 {
    font-weight: 500;
}

input {
    margin: 15px 0 15px 0;
}

button {
    background-color: white;
    padding: 7px 10px 5px 10px;
    border: solid black;
    transition-duration: 0.4s;
}

button:hover {
    background-color: grey;
    color: white;
    
}

div.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    background-color: var(--purple);
    width: 100%;
    /* font-family: sans-serif; */
    font-size: 13px;
    text-align: right;
    height: 20px;
}

div.header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--purple);
    color: white;
    width: 100%;
    height: 70px;
}

.readingframe {
    display: inline-block;
    width: 20vw;
    /* background-color: rgba(100, 100, 100, 0.3);
    background-color: var(--green);
    padding-bottom: 50px; */
}

#longest {
    display: inline-block;
    width: 60vw;
}

span.footer {
    margin: 5px 5px 0 0;
    display: inline-block;
}

::-webkit-scrollbar {
	width: 0;
}

:root {
    --purple: rgb(129, 0, 129);
    --grey: rgb(164, 164, 165);
    --green: rgb(60, 165, 66);
    --pale: rgb(167, 211, 119);
}