* {
    text-align: center;
}

#footer {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10vh;
}

#input-box {
    text-align: left;
    width: 75%;
}

#container {
    text-align: center;
}

.answer {
    word-wrap: break-word;
    display: inline-block;
    text-align: left;
    /*height: 2em;*/
    width: 75%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}

.green {
    color: green;
}

.red {
    color: red;
}

#pre-footer {
    overflow: scroll;
    overflow-x: hidden;
    /*padding-bottom: 20vh;*/
    height: 85vh;
}

body {
    overflow: hidden;
}